<nav class="navbar sticky-top navbar-expand-lg bg-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapse()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Retrosecity</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'d-inline': !isCollapsed}">
    <ul class="navbar-nav mr-auto" [ngClass]="{'animated slideInDown': !isCollapsed}">
      <li class="nav-item">
        <a class="nav-link" href="/collections" pageScroll>Collections</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/commissions" pageScroll>Commissions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about" pageScroll>About</a>
      </li>
    </ul>
    <div class="w-100 order-3">
      <div class="social_nav social_nav-white navbar-nav ml-auto">
        <ul>
          <li>
            <a href="https://www.amazon.com/retrosecity/" class="fa fa-amazon"></a>
          </li>
          <li>
            <a href="https://www.facebook.com/Retrosecity-214742929137931" class="fa fa-facebook">Facebook</a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCbIIa_OPa5ygx-IgqcZC6aA" class="fa fa-youtube">YouTube</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>