<footer class="footer">
  <div class="container">
    <div class="footer-nav">
      <nav class="footer_sub_nav">
        <ul class="menu">
          <li class="nav-item">
            <a class="nav-link" href="/collections" pageScroll>Collections</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/commissions" pageScroll>Commissions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about" pageScroll>About</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="bottom_footer">
      <div class="footer-copyright">
        <p class="copyright">
          Copyright © 2018 Retrocity. All rights reserved. </p>
      </div>
      <div class="social_nav">
        <ul>
          <li>
            <a href="https://www.amazon.com/retrosecity/" class="fa fa-amazon"></a>
          </li>
          <li>
            <a href="https://www.facebook.com/retrosecity" class="fa fa-facebook">Facebook</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>