/* You can add global styles to this file, and also import other style files */


@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    /*.body-content {
        padding-top: 50px;
    }*/
}

h1, h2, h3{
    font-family: 'Shrikhand', cursive;
}

.navbar-brand{
    font-family: 'Shrikhand', cursive;
    background: url('assets/images/logo.png') no-repeat;
    background-size: cover;
    background-position-y:49%;
    color: #555;
    font-size: 3em;
}

.color-primary-0 { color: #F16856 }	/* Main Primary color */
.color-primary-1 { color: #FFB3A9 }
.color-primary-2 { color: #FF8D7E }
.color-primary-3 { color: #DA4431 }
.color-primary-4 { color: #AF2816 }

.color-secondary-1-0 { color: #388395 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #8DC5D2 }
.color-secondary-1-2 { color: #599FB0 }
.color-secondary-1-3 { color: #217487 }
.color-secondary-1-4 { color: #105B6D }

.color-secondary-2-0 { color: #A6DE4F }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #D5F6A3 }
.color-secondary-2-2 { color: #BFEF76 }
.color-secondary-2-3 { color: #8BC92D }
.color-secondary-2-4 { color: #6AA214 }



/* As RGBa codes */

.rgba-primary-0 { color: rgba(241,104, 86,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(255,179,169,1) }
.rgba-primary-2 { color: rgba(255,141,126,1) }
.rgba-primary-3 { color: rgba(218, 68, 49,1) }
.rgba-primary-4 { color: rgba(175, 40, 22,1) }

.rgba-secondary-1-0 { color: rgba( 56,131,149,1) }	/* Main Secondary color (1) */
.rgba-secondary-1-1 { color: rgba(141,197,210,1) }
.rgba-secondary-1-2 { color: rgba( 89,159,176,1) }
.rgba-secondary-1-3 { color: rgba( 33,116,135,1) }
.rgba-secondary-1-4 { color: rgba( 16, 91,109,1) }

.rgba-secondary-2-0 { color: rgba(166,222, 79,1) }	/* Main Secondary color (2) */
.rgba-secondary-2-1 { color: rgba(213,246,163,1) }
.rgba-secondary-2-2 { color: rgba(191,239,118,1) }
.rgba-secondary-2-3 { color: rgba(139,201, 45,1) }
.rgba-secondary-2-4 { color: rgba(106,162, 20,1) }

.linkedIn{
    border-radius: 5px;
    background-color: #0077B5;
    color:white;
    padding:4px 4px 4px 8px;
    font-family: 'Montserrat', sans-serif;
    padding-left:2px;
    text-decoration: none;
    

}

section {
    float: left;
}

    section.white {
        background-color: white;
    }

    section.gray {
        background-color: slategray;
        color: white;
    }

    section.text {
        padding: 20px;
        text-align: center;
    }

    .fan-background {
        background-image: linear-gradient(-120deg, rgba(245, 33, 33, 0) 87%, rgba(255, 255, 255, 0.08) 15%), linear-gradient(-110deg, rgba(27, 0, 255, 0) 85%, rgba(255, 255, 255, 0.08) 15%), linear-gradient(-103deg, rgba(255, 33, 33, 0) 84%, rgba(255, 255, 255, 0.08) 15%), radial-gradient(circle, #253341 0%, #253341 100%);
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
    }

.navbar {
    background-color: #253341;
}

.user-image{
  border: 0px solid white;
  border-radius: 30px;
  width:30px;
  height:30px;
}



.shadow {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#b3000000', GradientType=0);
    /* IE6-9 */
}

.white-link{
    color:#fdfdf9;
    text-decoration: underline;
}

.white-link:hover{
    color:#fdfdf9;
    text-decoration: underline;
}

.header  {
    font-family: Dosis, Arial, sans-serif;
    font-size: 3.5rem;
    letter-spacing: 1.9px;
    text-align: left;
    margin-bottom: 14px;
    text-rendering: geometricPrecision;
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #222;
    -webkit-font-smoothing: antialiased;
    -khtml-font-smoothing: antialiased;
    -apple-font-smoothing: antialiased;
    font-smooth: always;
    text-rendering: optimizelegibility;
    text-rendering: geometricPrecision;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}

.white-text{
    color:#fdfdf9;
}

.center-text{
  text-align: center;
}

.section-hr {
    background-color: #fdfdf9;
    margin-left: 0;
    display: block;
    margin: 0 10px 17px;
    max-width: 80px;
    height: 3px;
    border-width: 0;
    box-sizing: content-box;
}

.hr-black {
    background-color: #222;
}

.box-btn {
    font-family: Dosis, Arial, sans-serif;
    font-weight: 600;
    border: 2px solid #222;
    background-color: ghostwhite;
    color: #222;
    padding: 10px;
}

    .service-btn:hover {
        text-decoration: none;
        background-color: #222;
        color: ghostwhite;
    }

.slider {
    -webkit-appearance: none;
    width: 18rem;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}



.social_nav {
    float: right;
}

.social_nav ul{
    list-style: none;
    padding:0px;
    margin: 0px;
}

.social_nav ul li {
    float: left;
    position: relative;
}

.social_nav ul li+li {
    margin-left: 10px;
}

.social_nav ul li a {
    width: 32px;
    height: 32px;
    background-color: #82949E;
    opacity: 0.5;
    border-radius: 50px;
    color: #fff;
    display: block;
    text-indent: 9999px;
    overflow: hidden;
    position: relative;
}



.social_nav ul li a:before {
    color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    text-indent: 0;
}

.social_nav-white  ul li a{
    background-color: black;
    opacity: 1;
}

.social_nav-white  ul li a:hover{
    background-color: white;
    color: black;
}

.social_nav-white  ul li a:hover:before{
    background-color: white;
    color: black;
}